* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-family: 'Sora', sans-serif;
    background-color: #FAFAF9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card {
    background-color: #FFFFFF;
    width: 368px;
    height: 387px;
    border-radius: 16px;
    box-shadow: 8px 8px 20px 0px #E5EAF0;
    overflow: hidden;
    margin-top: 230px;
    margin-bottom: 164px;
}

.card-body {
    padding: 16px;
}

.card-img img {
    width: 100%;
    height: auto;
    border-radius: 12px;
    display: block;
}

.tag {
    display: inline-block;
    background-color: #F2EAFD;
    color: #7C19EE;
    font-size: 10px;
    font-weight: bold;
    padding: 6px 16px;
    border-radius: 999px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 6px;
    color: #20293A;
}

.card-text {
    font-size: 14px;
    color: rgb(55, 65, 81);
    font-weight: 300;
    line-height: 1.5;
}

.card-footer {
    padding: 20px;
    border-top: 1px solid #E5EAF0;
}

.author {
    font-size: 12px;
    text-align: center;
    margin-top: 16px;
    color: rgb(55, 65, 81);
    font-weight: 300;
}
.author a {
    text-decoration: none;
}

.attribution {
    font-size: 14px;
    text-align: center;
    color: #6B7280;
    margin-bottom: 60px;
}

.atribution a {
    color: inherit;
    font-weight: 600;
}